body {
    position: fixed;
    margin: fixed;
background-color: antiquewhite;
    color: black;
/*
     padding: 200px;
*/

}


#qmark {
/*
  width: 100px;
*/
  font:  monospace;
  cursor: pointer;
    font-size: 500px;
    font-family: 'Source Sans Pro', sans-serif;
float: right;}

#eng {
/*
  width: 100px;
*/
  cursor: pointer;
    font-size: 500px;
    font-family: 'Source Sans Pro', sans-serif;
    float: left;
    padding: 20px;
    position:static;
}


#ar {
/*
  width: 100px;
*/
  cursor: pointer;
    font-size: 500px;
    font-family: 'Source Sans Pro', sans-serif;
    float: right;
    padding: 20px;
    position:static;
}

#qmark {
  display: inline-block
  
}

#qmark.animate {
  transform: scaleX(-1) translate(120%);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}



#eng.animate {
  transform: translate(-100%);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}



#ar.animate {
  transform: scaleX(-200);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
