@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
.container {
  column-count: 2;
}
body {
    margin: 50px;
    padding: inherit;
background-color:#BCB4B3;
    color: #7A7373;
    

}

#qmark {
/*
  width: 100px;
*/
font-family: 'Source Sans Pro', sans-serif;
    font-size: 600px;
    font-family: 'Source Sans Pro', sans-serif;
float: right;
font-weight: 600;}

#eng {
/*
  width: 100px;
*/
font-family: 'Source Sans Pro', sans-serif;
    font-size: 600px;
    font-weight: 100;
    float: left;
    padding: 20px;
    position:static;
}


#ar {
/*
  width: 100px;
*/    font-family: 'Changa', sans-serif;
font-weight: 200;
    font-size: 400px;
    float: right;
    padding: 20px;
    
    
}

#qmark {
  display: inline-block
  
}

#qmark.animate {
  transform: scaleX(-1) translate(400%);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}



#eng.animate {
  transform: translate(-100%);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}



#ar.animate {
  transform: translate(100);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}


 a
{
    
    font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
        color: #7A7373;
    padding-bottom: 100px;
    float: right;
}

a:link {
  color:  #7A7373;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:  #7A7373;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color:black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color:black;
  background-color: transparent;
  text-decoration: underline;
}