 @media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}


body {
margin: 50px;
background-color: black;
    color: white;
     
}



p {
text-align: center;
    font-family: futura;
    font-size: 25px;
    padding-top: 70px;
}


#myDIV {
  width: 1px;
  height: 1px;
/*
  background-color: coral;
*/
  color: white;
}


.sem {
    font-size: 200px;
    font-family: futrua;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  float: left;
    font-family: futura;

}


/*

.rotate:hover {
    transform: rotate(190deg); 
}

div.rotate {
    width: 0px;
    height: 0px;
    
    font-size: 100px;
    background-color: chocolate;
}*/