@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
.container {
  column-count: 3;
}
body {
    margin: 90px;
    padding: inherit;
background-color: #CCC7C6;
    color:  #7A7373;

}
div {
    
}

.com {
  transition: transform .7s ease-in-out;
    font-size: 130px;
font-family: 'Source Sans Pro', sans-serif;
    color: black;
    padding-top: 45px;
    font-weight: 800;

}
.com:hover {
    transform: rotateZ(-170deg);
}

.eng {
font-family: 'Source Sans Pro', sans-serif;
float: left;
font-size: 80px;
    padding-top: 30px;
    font-weight: 800;
    }


.ar {
    
    font-family: 'Changa', sans-serif;
    float: right;
    font-size: 80px;
    font-weight: 800;


}


h1
{
    padding-top: 130px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 700;


}

h2{
    font-family: 'Source Sans Pro', sans-serif;
font-weight: 500;
    font-size: 20px;
    color: black;
    text-align: center;
}

 a
{
    
    font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
        color: #7A7373;
    padding-bottom: 100px;
    float: right;
}

a:link {
  color:  #7A7373;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:  #7A7373;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color:black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color:black;
  background-color: transparent;
  text-decoration: underline;
}