@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
.container {
  column-count: 3;
}
body {
    margin: 90px;
    padding: inherit;
background-color: #CCC7C6;
    color:  #7A7373;

}


.com {
  transition: transform .7s ease-in-out;
    


}
.com:hover {
    transform: rotate(-180deg);
}

.eng {
font-family: 'Source Sans Pro', sans-serif;

font-size: 70px;
    }



.ar {
    
    font-family: 'Changa', sans-serif;
    float: inherit;
    font-size: 100px;
    transform : rotate(-180deg); 


}

.ar {
    font-family: Changa, sans-serif;
    float: right;
    font-size: 70px;
}

h1
{
    font-family: 'Source Sans Pro', sans-serif;

}

.pa {
        font-family: 'Source Sans Pro', sans-serif;
font-weight: 100;
    font-size: 20px;
    color: black;
}