@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
.container {
  column-count: 3;
}
body {
    margin: 100px;
    padding: inherit;
background-color: #CCC7C6;
    color:  #7A7373;

}



.ani {
  transition: transform .7s ease-in-out;
    padding-right: 640px; 
        padding-left: 500px; 
padding-top: 20px;
}


.coa {
    font-weight: 500;

}
.ani:hover {
  transform: rotateZ(-180deg);
  
}

.cu
{
    font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
text-align: center;} 

.pa {
        font-family: 'Source Sans Pro', sans-serif;
font-weight: 500;
    font-size: 18px;
    color: black;
}


.eng {
font-family: 'Source Sans Pro', sans-serif;

    font-size: 80px;
    float:inherit;
}




.co {
        transform : rotate(-180deg); 

    font-family: 'Source Sans Pro', sans-serif;
        font-size: 80px;
    


}
.ar {
    
    font-family: 'Changa', sans-serif;
    float: inherit;
    font-size: 80px;
    transform : rotate(-180deg); 


}



img {
    width: 30px;
    height: auto;
    float:inherit;
}

.fo
{
padding-top: 40px;}

 .se
{
    
    font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
        color: #7A7373;
    float: right;
}

.on {
    
    font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 600;
        color: #7A7373;
    float: left;
}

a:link {
  color:  #7A7373;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:  #7A7373;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color:black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color:black;
  background-color: transparent;
  text-decoration: none;
}
