@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
.container {
  column-count: 2;
}
body {
    margin: 20;
    padding-left: 400px;
        padding-right: 400px;

background-color:#BCB4B3;
    color: #7A7373;
    

}

h1 {

font-family: 'Source Sans Pro', sans-serif;
font-size: 30px;
    margin-right: 30px;
text-align: left;    padding-top: 100px;
    color: #7A7373;

}

h2{
    font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
font-weight: 200;
        color: #7A7373;

}
p {
    font-family: 'Source Sans Pro', sans-serif;
color:black;
    padding-top: 30px;
    font-size: 17px;
    padding-bottom: 80px;
}
